<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>naga</title>
    <style>
        .aa{
            border: 3px solid black;
            background-color: green;
            color: antiquewhite;

        }
        body{
            background: linear-gradient(45deg,green,red,pink);
            color: aqua;
        }
    </style>
</head>
<body>
    <center><h1>naga html pages</h1>
        <form method="POST" class="aa">
            <h1>Enter your details</h1>
            {% csrf_token %}
            {{forms.as_p}}
            <input type="submit" value="submit">
        </form>
    </center>
    
</body>
</html>